* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #e2e2ca;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  background-image: url(../images/wine_home-background.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-color: skyblue;
  width: 100%;
  height: 35rem;
  padding: 100px 0 0 200px;
}

.logo {
  background-color: #303030;
  width: 13rem;
  height: 35px;
  margin-left: -3rem;
}

.nav {
  max-width: 78rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.73);
  margin-left: -3rem;
}
.nav__list {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 15px;
}
.nav__item {
  color: #303030;
}
.nav__item :hover {
  color: #bfff00;
}
.nav__link {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
  header {
    width: 23.5rem;
    height: 20rem;
  }

  .logo {
    display: none;
  }

  .nav {
    width: 13.5rem;
    height: 12rem;
    margin-left: -12.5rem;
    margin-top: -7.5rem;
  }
  .nav__list {
    display: block;
  }
  .nav__item {
    margin-top: 1rem;
  }
}
.section__home {
  width: 45%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section__home-intro-title {
  font-size: 2.25rem;
}
.section__home-intro-img {
  width: 620px;
  height: 750px;
}
.section__home--para {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section__home-intro-title {
    height: 10rem;
  }
  .section__home--btn {
    max-width: 50%;
  }
}
.section__about {
  width: 40%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section__about-intro-title {
  font-size: 2.25rem;
}
.section__about-intro-para {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.section__gallery {
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section__gallery-header {
  margin-left: 33rem;
}
.section__gallery-header-title {
  font-size: 2.25rem;
}
.section__gallery-header-para {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
}
.section__gallery-images-wine {
  width: 12rem;
  height: 45rem;
  margin-left: 10rem;
}

.section__delivery {
  width: 45%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section__delivery-intro-title {
  font-size: 2.25rem;
}
.section__delivery-intro-para {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.section__contact {
  width: 60%;
  margin: 0 auto;
}
.section__contact-info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section__contact-info-grid-item-title {
  font-size: 2.25rem;
}
.section__contact-info-grid-item-para {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer {
  width: 100%;
  height: 18rem;
  background-color: #8dbbbb;
}
.footer__containter {
  margin-left: 5rem;
}
.footer__columns {
  width: 80%;
  margin-left: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__list-title {
  margin-left: 15px;
  margin-top: 30px;
}
.footer__title {
  color: var(--clr-light);
}
.footer__list {
  color: #fff;
}
.footer__para {
  color: #fff;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: var(--fs-h3);
}
.footer__input {
  width: 100%;
  height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dce0e0;
  border-radius: 4px;
}
.footer__btn {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #000;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  display: inline-block;
  border-radius: 0.4rem;
}
.footer__para2 {
  color: white;
}
.footer_link {
  color: white;
  font-size: var(--fs-h3);
}
.footer_link2 {
  color: #fff;
}
.footer__copyright {
  margin-left: 16rem;
  margin-top: 1rem;
  color: #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
  .footer {
    height: 50rem;
  }
  .footer__columns {
    display: block;
    margin-left: 1rem;
  }
  .footer__copyright {
    margin-left: 2rem;
  }
}