.section__about {
  width: 40%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  &-intro-title {
    font-size: $fs-h2;
  }
  &-intro-para {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
